.l-flex{
  &__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    }
  }

  &__row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}