@import "../../../../styles/sass/Foundation/index";

.l-nav {
  height: 60px;
  background-color: rgba($color: #000000, $alpha: .3);
  position: fixed;
  width: 100vw;

  &__wrapper{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include wrapperSymmetry();

    nav{
      @include flexCustom(row, flex-start, center, 36px);
      margin-left: auto;

    }
  }
}